<html>
 <body>
    <h1>Password Generator</h1>

    <div class="flex-container">
      <div>
        <mat-form-field appearance="standard" class="input">
          <mat-label>Enter Length</mat-label>
          <input matInput (input)="onChangeLength($event.target.value)">
          <mat-hint>at least 12</mat-hint>
        </mat-form-field>
      </div>
      
      <div>
        <input type="checkbox" name="UseLetters" (change)="onChangeUseLetters()"> 
        <label>Use Letters</label>
      </div>

      <div>
        <input type="checkbox" name="UserNumbers" (change)="onChangeUseNumbers()">
        <label>Use Numbers</label>
      </div>

      <div>
        <input type="checkbox" name="UseSymbols" (change)="onChangeUseSymbols()">
        <label>Use Symbols</label>
      </div>

      <button 
        mat-raised-button
        [disabled]="!(length && (includeLetters || includeSymbols || includeNumbers ))" 
        (click)="onButtonClick()" 
      >
        Generate
      </button>

      <div *ngIf = "password">
        <p>Your generated password is 
          <br>
          <mat-form-field appearance="standard" class="input">
            <input matInput [value]="password">
        </mat-form-field>
        </p>
        
      </div>
    </div>
  </body>
</html> 